*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    
}
.App{
    min-height: 100vh;
    background: rgb(250, 186, 67);
    color: #000;
}

a{
   text-decoration: none;
   font-size: 30px;
   font-weight: bold;
}
